<div id="message-<%= message.id %>">
  <p class="chatbox-message mb-0"><%= message.content %></p>
  <div class="hour-message text-end mb-1">
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </div>
</div>
