
  <div class="card-2">
    <h5><strong><%= individual.title %></strong></h5>
      <img class="card-img-top" src="https://images.unsplash.com/photo-1627630737366-fbd46d8c11f5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
    <div class="card-footer d-flex align-items-center">
      <div class="rating">
        <%= 'â­' * individual.difficulty%>
      </div>
      <i class="fas fa-user"></i>
    </div>
  </div>
