<div class="card-ongoing-quests d-flex flex-row my-3">
  <div class="col-4 py-1 image-container-ongoing d-flex justify-content-center align-items-center">
    <img class="card-img-rounded" src="https://images.unsplash.com/photo-1627630737366-fbd46d8c11f5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
  </div>
  <div class="col-8 pt-2 pb-3">
    <div class="row d-flex justify-content-end align-items-end mb-0">
      <p>Challenge name</p>
    </div>
    <div class="row d-flex justify-content-start align-items-start">
      <h4>Challenge name</h4>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end align-items-end">
        <h4 class="avatares pe-5">avatares</h4>
      </div>
    </div>
  </div>
</div>
