<% if notice %>
  <div data-controller="alerts" data-alerts-notice-value="<%= notice %>"></div>
<% end %>

<% if alert %>
  <div data-controller="alerts" data-alerts-alert-value="<%= alert %>"></div>
<% end %>
