<div class="footer position-sticky bottom-0">
  <div class="footer-links">
    <a href="<%= quest_log_path %>"><i class="fa-solid fa-gamepad"></i></a>
    <a href="<%= missions_path %>"><i class="fa-solid fa-file-lines"></i></a>
    <a href="<%= root_path %>"><i class="fa-solid fa-house footer-hub"></i></a>
    <a href="#"><i class="fa-solid fa-calendar"></i></a>
    <a href="#"><i class="fa-solid fa-comment-dots"></i></a>
  </div>
</div>
