<div class="container">
  <div class="row justify-content-center">
      <div class="text-center">
        <h1><%= @event.is_memory ? 'Editing memory' : 'Editing event' %></h1>
      </div>
  </div>
</div>

<% if @event.is_memory %>
  <%= render 'memory_form', event: @event %>
<% else %>
  <%= render 'form', event: @event %>
<% end %>
