<div class="container">
    <h1>Editing event</h1>
  <div class="w-75 d-flex justify-content-center align-items-center">

    <%= render 'form' %>

  </div>
    <%= link_to 'Show', event_path %> |
    <%= link_to 'Back', events_path %>
</div>
