<h2>Couple's Challenge</h2>

<div class="container">
  <div class="card">
    <h3>Quest title</h3>
    <img class="card-img-top" src="https://images.unsplash.com/photo-1627630737366-fbd46d8c11f5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Plan an adventure to explore a nearby town. During the day, there will be plenty of photo opportunities! We've selected some iconic movie quotes for you to capture in your photos. Channel your inner movie stars and bring these famous lines to life: 'He's looking at you, kid.' - Casablanca; 'May the Force be with you.' - Star Wars; 'To infinity and beyond!' - Toy Story; 'You had me at hello.' - Jerry Maguire; 'Just keep swimming.' - Finding Nemo; 'Nobody puts Baby in a corner.' - Dirty Dancing. Get ready to strike a pose, recreate a scene, or find the perfect</p>
    </div>
    <div class="card-footer d-flex align-items-center">
      <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <i class="fas fa-user-friends"></i>
      <button type="button" class="btn btn-primary ml-auto">Begin</button>
      </div>
  </div>
</div>
