<div class="container" data-controller="quests">

  <div style="position: relative;" data-quests-target="exploreQuestsTab">

    <div class="carousel-1">

      <div id="carouselExampleControls" class="carousel slide mt-0" data-interval="false">

        <div class="carousel-inner">
          <% @individual_challenges.each_with_index do |individual_challenge, index| %>

            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= render 'shared/cards_individual_briefing', individual_challenge: individual_challenge%>
            </div>
          <% end %>
        </div>

        <a class="carousel-control-prev" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>

    <%= link_to quest_log_path do %>
      <img src="<%= asset_path 'https://res.cloudinary.com/dvgcwuo68/image/upload/v1710412462/wooden-arrow_xccyom.png' %>" class="arrow-back-explore">
      <h5 class="go-back-text">back</h5>
    <% end %>
</div>
