<div class="container mt-5">

  <div class="vines content bg-light bg-opacity-50 rounded-4">
    <%= image_tag("questmenu.png", alt: "vines") %>

    <!-- link to Explore Couples Quests -->
    <div style="text-align: center; position: relative;">
      <a href="/explore_couples_challenges" class="link1" style="top: -608px; left: 150px; transform: rotate(6deg)">
        Explore Couple's<br>
        <span class="subtext">Quests</span>
      </a>
    </div>

    <!-- link to Explore Solo Quests -->
    <div style="text-align: center; position: relative;">
      <a href="/explore_solo_challenges" class="link1" style="top: -436px; left: 97px; transform: rotate(-9deg)">
        Explore Solo<br>
        <span class="subtext">Quests</span>
      </a>
    </div>

    <!-- link to Couples' Quests in Progress -->
    <div style="text-align: center; position: relative;">
      <a href="<%= couples_challenges_in_progress_path %>" class="link1" style="top: -260px; left: 198px; transform: rotate(0deg)">
        Couple's<br>
        <span class="subtext">Dashboard</span>
      </a>
    </div>

    <!-- link to Solo Quests in Progress -->
    <div style="text-align: center; position: relative;">
      <a href="/solo_challenges_in_progress" class="link1" style="top: -110px; left: 104px; transform: rotate(4deg)">
        Solo<br>
        <span class="subtext">Dashboard</span>
      </a>
    </div>

  </div>
  <% unless !user_signed_in? || user_signed_in? && @pending_tasks_notif.zero? %>
    <img src=https://res.cloudinary.com/dvgcwuo68/image/upload/v1711644384/bird-ezgif.com-gif-maker_1_mj4s3h.gif alt="Macaw" class="bird-quest">
    <img src=https://res.cloudinary.com/dvgcwuo68/image/upload/v1711640838/hummingbird-ezgif.com-gif-maker_i6gqs1.gif alt="Macaw" class="bird-quest-1">
    <img src=https://res.cloudinary.com/dvgcwuo68/image/upload/v1711644384/bullfinch-ezgif.com-gif-maker_1_hugpb3.gif alt="Macaw" class="bird-quest-2">
  <% end %>
</div>
