.book-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 55px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: inherit;
  z-index: 3;
  pointer-events: auto;
}
