h2 {
  text-align: center;
}
h3 {
  padding-left: 32px;
  padding-top: 51px;
}

.briefing-card-img-top {
  padding: 6px 25px 15px 40px;
  border-radius: 20%;
  height: 184px;
  width: 342px;
  margin-left: 16px;
  margin-top: 20px;
  opacity: 0.8;
}

.briefing-card {
  border-radius: 25px;
  background-image: url("paper_seven.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 714px;
  margin-top: -2px;
  position: relative;
}

.briefing-card-body {
  background-color: transparent;
  border-radius: 25px;
  margin: 0px 10px 9px 10px;
  height: 265px;
}
.fa-user-friends {
  padding-left: 25px;
}

.card-text {
  padding: 19px 15px 0px 22px !important;
  color: rgb(34, 20, 20) !important;
  font-family: "Vidaloka", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 16px !important;
}

.briefing-title {
  font-family: Berkshire Swash, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: rgb(18, 11, 11);
  margin-bottom: -14px;
  margin-top: -9px;
  margin-left: 61px;
}

.card-footer-briefing {
  border: none;
  margin: 0px 65px;
}

.begin-quest {
  position: absolute;
  top: 612px;
  right: 39px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  background-image: url('https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png');
  background-size: 100% 100%;
  width: 142px;
  height: 50px;
  margin-left: 161px;

  color: rgb(6, 6, 6);
  font-weight: bolder;
  font-size: 20px;
  text-align: center;

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.04);
  }
}

.make-happen {
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  padding-left: 11px;
  margin-bottom: 27px;
}

.add-date-button {
  width: 62px;
  height: 39px;
  opacity: 0.8;
  margin-left: -16px;
  cursor: pointer;

  &:hover {
    opacity: 12;
  }
}

.couple-exp {
  position: absolute;
  top: 628px;
  left: 57px;
  font-size: 19px;
}
.individual-exp {
  position: absolute;
  top: 618px;
  left: 57px;
  font-size: 19px;
}
