h2 {
  text-align: center;
}
h3 {
  padding-left: 25px;
  padding-top: 5px;
}
.card-img-top {
  padding: 5px 20px 5px 20px;
  border-radius: 27%;
}
.card {
  border-radius: 50px;
  background-color: #ddd;
  height: 717px;


}
.card-body {
  background-color: grey;
  border-radius: 50px;
  margin: 0px 20px 9px 20px;
}
.fa-user-friends {
  padding-left: 25px;
}
.rating {
  border-radius: 50px;
}
.btn-primary {
  border-radius: 50px;
  background-color: grey;
  border: 1px solid #000;
  margin-left: 163px;
}
