h4 {
  padding-left: 30px;
  padding-top: 5px;
  margin: 0;
}
.card-2 {
  border-radius: 50px;
  background-color: #ddd;
  border: none;

}
.card-img-top {
  padding: 10px;
  border-radius: 27%;
  margin-top: -12px;
}

.fa-user-friends {
  padding-left: 25px;
}
.rating {
  border-radius: 50px;
  background-color: grey;
  margin-left: 20px;

}
.card-footer {
border: none;
margin-top: -12px;
}
