h5 {
  padding-left: 30px;
  padding-top: 9px;
  margin: 0;
}
.card-2 {
  border-radius: 50px;
  border: none;
  height: 249px;
  width: 315px;
  background-color:#ddd;
  margin-left: -17px;
  margin-top: -17px;
}

.card-img-top {
  padding: 10px;
  border-radius: 10%;
  height: 171px;
  width: 292px;
  padding-left: 33px;

}

.fa-user-friends {
  padding-left: 25px;
}
.rating {
  border-radius: 50px;
  background-color: grey;
  margin-left: 20px;

}
.card-footer {
border: none;
margin: 0px;
margin-left: 27px;
margin-right: 29px;
background-color:#ddd;
}
