.content-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 932px;
  width: 430px;

  .sub-content-box {
    height: calc(100% - 135px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
