    #calendar table {
      margin-top: 35px;
      border-collapse: collapse;
      width: 100%;
    }

    #calendar td, #calendar th {
      font-family: “Lucida Grande”,arial,helvetica,sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
    }

    #calendar th {
      background: #DDD;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
          height: 45px;
    font-size: 18px;
    font-family: Berkshire Swash, serif;
    }

    #calendar td {
      backdrop-filter: blur(14px) saturate(140%);
      -webkit-backdrop-filter: blur(14px) saturate(140%);
      background-color: rgba(255, 255, 255, 0.76);
      color: black;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
    }

    #calendar .notmonth {
      color: #969696;
    }

    #calendar #month {
      margin-top: 2px;
      padding-top: 10px;
      padding-bottom: -3px;
      text-align: center;
      font-size: 30px;
      font-family: Berkshire Swash, serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      color: rgb(47, 47, 47)
    }

    #calendar #month a, #calendar #month a:hover {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }

    #calendar .today {
      background-color: #D7F2FF;
    }

    #calendar ul {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      list-style: none;
    }

    #calendar li {
      margin: 0;
      padding: 0;
      font-size: 11px;
      text-align: center;
    }

    .day-container {
      position: relative;
      height: 100%
    }

    .event-show{
      font-family: Berkshire Swash, serif;
    }


    .scrollable-content-show {
      height: 645px;
      overflow: auto;
      scrollbar-width: none;
    }

    .events-body{
      opacity: 0.8;
    }

    .icon-show {
      color: gray;
      position: absolute;
      top: -34px;
      right: 10px;
    }

    .icon-show:hover {
      color: darkgray;
    }

    .calendar-plaque {
      position: absolute;
      top: 703px;
      left: 99px;
      width: 230px;
      height: 74px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
        box-shadow: rgb(238, 216, 156) 0px 0px 20px 2px;
      }
    }

    .odyssey-timeline {
      position: absolute;
      top: 737px;
      right: 120px;
      font-size: 25px;
      font-family: Berkshire Swash, serif;
      text-decoration: none;
      color: black;
      line-height: 26px;
    }

    .odyssey-timeline-label {
      position: absolute;
      top: 709px;
      right: 175px;
      font-size: 17px;
      font-family: Berkshire Swash, serif;
      text-decoration: none;
      color: black;
      line-height: 26px;
    }

    .card-event-show{
      background: url('paper_seven.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      min-height: 110px;
      padding-left: 15px;
      border-radius: 15px;
    }
    .events-details{
      padding-right: 20px;
    }
