/*.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  font-size: 32px;
  padding: 0px 20px;
}

.footer-links .footer-hub {
  font-size: 42px;
}

.footer-links a:hover {
  color: rgb(0, 0, 0);
}

.home-icon {
  position: relative;
  top: -10px;
}*/

.footer-nav {
	box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12), 0 22.3px 17.9px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.04);
	border-radius:  0 0 10px 10px;
}

// Traversing Magic Line Mobile Footer
// SCSS Variables:
$magic-line-font-stack:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
$magic-line-height: 5px !default;
$magic-line-items: 5 !default;
$magic-line-light-bg: rgb(210,210,210) !default;
$magic-line-light-color: gray !default;
$magic-line-primary-bg: magenta !default;
$magic-line-primary-color: #FFF !default;

.mobile-footer {
	position: sticky;
  bottom: 0;
  width: 100%;
	height: 5rem;
  color: $magic-line-light-color;
  font-size: 1rem;
  font-family: $magic-line-font-stack ;
	padding:0;
	background: $magic-line-light-bg;
	overflow: hidden;
	a {
	  position: relative;
    overflow: hidden;
		width: 100%/$magic-line-items;
		height: 100%;
		display: inline-block;
		float: left;
		padding: 0;
    color: currentColor;
    line-height: 12;
    font-size: 0.725em;
		text-align: center;
    text-decoration:none;
    text-indent: -9999rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    will-change: background, line-height;
		transition: background .15s ease-in-out, line-height .2s ease .2s;
    &:hover, &:focus {
      background-color: rgba(128,128,128,0.3);
      .hub-image {
        transform: scale(1.25);
        opacity: 0.6;
      }
    }
    &:focus, &:active {
      outline: none;
			.hub-image {
				opacity: .8;
			}
    }
    &:active {
			.hub-image {
				opacity: 1;
			}
    }
		.hub-image {
      position: absolute;
			fill: currentColor;
			top: calc(25% + #{$magic-line-height/2});
      left: 25%;
			width: 50%;
			height: 50%;
      transform: scale(1);
      transform-origin: center;
      will-change: opacity, transform, top;
			transition: opacity .2s ease, transform .2s ease, top .2s ease;
			opacity: 0.4;
      pointer-events: none;
		}
		&.active {
      background-color: rgba(128,128,128,0.15);
      text-indent: 0;
      line-height: 12;
      transition-delay: 0s, 0s, 0s;
			.hub-image {
			  top: calc(17.5% + #{$magic-line-height/2});
        transform-origin: center bottom;
				opacity: 1;
			}
      &:hover, &:focus, &:active{
        .hub-image {
          transform: scale(1);
        }
      }
		}
    &.traversing .hub-image {
      transition-delay: 0s, 0s, 0s;
      animation: .15s traversing ease-out both;
    }
	}
  // Traversing animation
  @keyframes traversing {
    0% { opacity: 1; }
    100% { opacity: 0.4; }
  }
}

.hub-img-footer {
  width: 150px;
  height: 150px;
}
