.mission {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 400px;
  height: 130px;
  background-image: image-url('Burnpaper.png');
  background-repeat: no-repeat;
  background-size: 419px 132px;
  background-position: -9px;

  &:hover {
    .thumb {
      opacity: 1;
    }
  }
}

.mission-title {
  font-family:  "Caveat", cursive;
  font-weight: bold;
  font-size: 22px;
  margin-top: 40px;
  padding-left: 12px;
  padding-top: 8px;
  overflow: auto;
  word-wrap: break-word;
  flex-grow: 1;
  line-height: 1;
}

.mission-details {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "Caveat", cursive;
  overflow: auto;
  word-wrap: break-word;
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 10px;
  line-height: 1;
  margin-top: 1px;
}

.mission-date {
  color:rgb(63, 63, 63);
  font-size: 20px;
  font-family: "Caveat", cursive;
  font-style: italic;
  margin-bottom: -20px;
}

.icon-link {
  text-decoration: none;
  top: 5px;
}

.icon-link:hover {
  color: rgb(0, 0, 0);
}

.edit-icon {
  position: relative;
  top: 15px;
  color: rgb(0, 0, 0);
  opacity: 1;
  height: 25px;
  width: 25px;
}

.thumb {
  text-decoration: none;
  position: relative;
  margin-right: -10px;
  top: 15px;
  opacity: 0.3;
}

.icon-class {
  font-size: 40px;
  -webkit-background-clip: text;
  color: transparent;
}

.mission-form-container {
  margin: 0 25px;
}

.icon-container:hover {
  box-shadow: 0 0 15px rgb(255, 254, 254);
}

input[type=radio]:checked + .icon-container {
  box-shadow: 0 0 15px rgb(47, 170, 9);
}

.arrow-back {
  margin-top: 0px;
  margin-left: 0px;
}

.sub-label {
  font-size: 0.8em;
  color: rgb(63, 63, 63);
  margin-top: -5px;
  margin-bottom: 10px;
}

.mission_plus {
  width: 50px;
  height: 50px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    filter: brightness(80%);
  }
}

.wood-plaque-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  background-image: url('https://res.cloudinary.com/dvgcwuo68/image/upload/v1710202587/log2-removebg-preview_jeecey.png');
  background-size: 100% 100%;
  width: 200px;
  height: 50px;
  padding-top: -10px;

  color: rgb(6, 6, 6);
  font-weight: bolder;
  font-size: 20px;
  text-align: center;

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
}

.paper-form {
  background-image: image-url("paper_seven.png");
  background-size: 98% 103%;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  padding-left: 20px;
}
