.mission {
  display: flex;
  align-items: center;
  width: 400px;
  height: 95px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.mission-title {
  margin-bottom: 10px;
  padding-top: 15px;
}

.mission-details {
  margin-top: -10px;
}

.mission-date {
  font-size: 0.8em;
  position: relative;
  top: 20px;
  color:rgb(63, 63, 63)
}

.icon-link {
  text-decoration: none;
}

.icon-class {
  font-size: 40px;
  position: relative;
  top: 15px;
  background: linear-gradient(to right, rgb(28, 99, 0), rgb(79, 190, 4), rgb(35, 139, 14), rgb(33, 190, 2));
  -webkit-background-clip: text;
  color: transparent;
}
