.mission {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 400px;
  height: 125px;
  background-image: image-url('Burnpaper.png');
  background-repeat: no-repeat;
  background-size: 419px 129px;
  background-position: -9px;
}

.container.mt-4.ps-3.pe-3.d-flex.flex-column {
  background: transparent;
}

.mission-title {
  margin-bottom: 10px;
  padding-top: 15px;
  font-family: "El Messiri", sans-serif;
}

.mission-details {
  margin-top: -10px;
  word-wrap: break-word;
  padding-right: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Caveat", cursive;
  line-height: 1.2;
}

.mission-date {
  font-size: 0.8em;
  position: relative;
  top: 20px;
  color:rgb(63, 63, 63);
  margin-bottom: 20px;
  overflow: visible;

}

.icon-link {
  text-decoration: none;
  position: relative;
  top: 15px;
  color: rgb(102, 102, 102);
}

.icon-link:hover {
  text-decoration: none;
  position: relative;
  top: 15px;
  color: rgb(0, 0, 0);
  opacity: 1;
}

.thumb {
  text-decoration: none;
  position: relative;
  margin-right: -10px;
  top: 15px;
  opacity: 0.5;

  &:hover {
    text-decoration: none;
    position: relative;
    top: 15px;
    opacity: 1;
  }
}



.icon-class {
  font-size: 40px;
  -webkit-background-clip: text;
  color: transparent;
}

.mission-form-container {
  margin: 0 25px;
}

.icon-container:hover {
  box-shadow: 0 0 15px rgb(255, 254, 254);
}

input[type=radio]:checked + .icon-container {
  box-shadow: 0 0 15px rgb(47, 170, 9);
}

.arrow-back {
  margin-top: 0px;
  margin-left: 0px;
}

.sub-label {
  font-size: 0.8em;
  color: rgb(63, 63, 63);
  margin-top: -5px;
  margin-bottom: 10px;
}
