.overlay {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-image: url(parchment3.png);
  background-size: 99% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 97%;
  height: 92%;
}

.overlay-content {
  max-width: 108%;
  word-wrap: break-word;
  padding: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 85%;
}

.hidden {
  display: none;
}

.no-slide {
  pointer-events: none;
}

.overlay-button {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  font-size: 30px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.overlay-button button {
  border: none !important;
  background: none !important;
}

.scrollable-content {
  height: 500px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Slabo 27px", serif;
}

.scrollable-content-quest-tab {
  height: 550px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Slabo 27px", serif;
}

.scrollable-content::-webkit-scrollbar {
  width: 0px;
}

#overlay, #overlay * {
  pointer-events: auto;
}
