.content-profile {
  height: 631px;
  background-color: rgb(192, 238, 228);
  background-image: url('https://res.cloudinary.com/dvgcwuo68/image/upload/v1711583008/profile-plants_l3c6au.png');
  background-size: 107%;
  background-position: -13px;;
}
.tabs-profile {
  display: flex;
  justify-content: space-between;
}


.tab-profile {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #A0D6A9;
  margin-bottom: -1px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 16px;
  margin-left: -1px
}

.tab-profile:hover {
  background-color: #A0D6A9;
}
.tab-profile.active {
  background-color: rgb(192, 238, 228);
    border-bottom: none;
}

.avatar-link:hover .avatar {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.profile-icon-container {
  position: absolute;
  top: 5px;
  left: 83%;
  transform: translateX(-50%);
  z-index: 1;
}

.avatar.large {
  width: 125px;
  height: 125px;
}

.profile-edit-word {
  position: absolute;
  bottom: 211px;
  right: 168px;
  font-size: 21px;
  font-family: Berkshire Swash, serif;
  text-decoration: none;
  color: black;
  line-height: 26px;
}

.profile-love-word {
  position: absolute;
  bottom: 183px;
  right: 141px;
  font-size: 21px;
  font-family: Berkshire Swash, serif;
  text-decoration: none;
  color: black;
  line-height: 26px;
}
