.content-profile {
  height: 631px;
}
.tabs-profile {
  display: flex;
  justify-content: space-between;
}


.tab-profile {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #ddd;
  margin-bottom: -1px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 16px;
  margin-left: -1px
}

.tab-profile:hover {
  background-color: #ddd;
}
.tab-profile.active {
  background-color: white;
    border-bottom: none;
}

.avatar-link:hover .avatar {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.profile-icon-container {
  position: absolute;
  top: 25px;
  left: 83%;
  transform: translateX(-50%);
  z-index: 1;
}

.avatar.large {
  width: 125px;
  height: 125px;
}

.h-100 {
  position: relative;
}
