
.my-card {
  background-color: white;
  height: 303px;
  width: 384px;
  display: block;
  margin: auto;
  border-radius: 50px;
  border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey;
}


.carousel-indicators {
  margin-bottom: -2rem;}
.carousel-indicators li {
  background-color: grey;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.tabs {
  display: flex;
  justify-content: space-between;
}


.tab {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #ddd;
  margin-bottom: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  margin-top: 16px;
  margin-left: -1px
}

.tab:hover {
  background-color: #ddd;
}
.tab.active {
  background-color: white;
    border-bottom: none;
}

.card-body {
    border-radius: 50px;
    margin: 0px 20px 9px 33px;
    height: 249px;
    width: 315px;
}
.carousel-2{
  margin-top: 24px;
}
.carousel-1 {
  margin-top: 8px;
}
.a-card {
  text-decoration: none;
  color: inherit;
}

.hidden-content {
  display: none;
}

.card-ongoing-quests {
  width: 400px;
  height: 120px;
  border-radius: 30px;
  border: 1px solid rgb(41, 41, 40);
  overflow: hidden;
}

.image-container-ongoing {
  position: relative;
}

.card-img-rounded {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.card-title-ongoing {
  margin: 10px;
}

.card-ongoing-quests {
  position: relative;
}

.avatares {
  position: absolute;
  bottom: 0;
  right: 0;
}
