.my-card {
  background-image: url("paper_seven.png");
  background-size: cover;
  height: 303px;
  width: 384px;
  display: block;
  margin: auto;
  border-radius: 50px;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
}


.carousel-indicators {
  margin-bottom: -2rem;}
.carousel-indicators li {
  background-color: grey;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.tabs {
  display: flex;
  justify-content: space-between;
}


.tab {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #dddddd00;
  margin-bottom: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  margin-top: 16px;
  margin-left: -1px;
  font-size: 20px;
}

.tab:hover {
  background-color: #ddd;
}
.tab.active {
  background-color: #dddddd00;
  border-bottom: none;
}

.card-body {
  border-radius: 50px;
  margin: 0px 20px 9px 33px;
  height: 249px;
  width: 315px;
  background-color: #dddddd00;
  display: flex;
  flex: column;
}
.carousel-2{
  margin-top: 20px;
  background-color: #dddddd00;
}
.carousel-1 {
  margin-top: 8px;
  background-color: #dddddd00;
}

.slide {
  background-color: #dddddd00;
}

.carousel-inner {
  background-color: #dddddd00;
}

.carousel-item {
  background-color: #dddddd00;
}

.a-card {
  text-decoration: none;
  color: inherit;
  background-color: #dddddd00;
}

.card-ongoing-quests {
  position: relative;
  width: 400px;
  height: 120px;
  background: url("paper_seven.png");
  background-size: 100% 100%;;
  display: block;
  margin: auto;
  border: none;
}

.image-container-ongoing {
  position: relative;
}

.card-title-ongoing {
  margin: 10px;
}
.avatares {
  position: absolute;
  bottom: 0;
  right: 0;
}

.subtitle-quest-list {
  color: rgb(43, 31, 31);
}

.couples-quests-explore {
  opacity: 0.8;
}

.solo-quests-explore {
  opacity: 0.8;
}

.vines {
  position: relative;
  width: 100%;
  height: 700px;
}

.vines img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 20px;
}

.link1 {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: Berkshire Swash, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  position: absolute;
}

.explore-quests-title {
  font-family: Berkshire Swash, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
}

.arrow-back-explore {
  position: absolute;
  top: 727px;
  left: 16px;
  cursor: pointer;
  width: 83px;
  height: 52px;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.08);
  }
}

.go-back-text {
  position: absolute;
  top: 726px;
  left: 20px;
  font-weight: lighter;
  font-size: 17px;
  text-decoration: none;
  color: #422929;
  font-family: Berkshire Swash, serif;

  &:hover {
    color: black;
  }
}
