
section {
  padding: 30px 0;
}


.time-h1 {
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.timeline {
  position: relative;

  &::before {
    content: '';
    background: hsl(209, 77%, 71%);
    width: 10px;
    height: 95%;
    position: absolute;
    left: 11%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.timeline-img {
  width: 52px;
  height: 37px;
  position:relative;
  left: 5%;
  margin-top: 0;
  margin-left: -26px;
  font-size: 10px;
  z-index: 2;
  flex-shrink: 0;
}

.timeline-item {
  display: flex;
}

.timeline-card-product {
  overflow: hidden;
  height: 162px;
  width: 300px;
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  background-color: rgba(255, 255, 255, 0.76);
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 38px;
  flex-shrink: 0;
}

.timeline-card-product img {
  height: 110%;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: -6px;
}

.timeline_card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.timeline-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.timeline-card-product .card-product-infos {
  padding: 16px;
}

.timeline-card-product.flex-row-reverse {
  flex-direction: row-reverse;
}

.timeline-card-product .card-product-infos:not(.flex-row-reverse) {
  margin-left: 0;
}

.timeline-card-product.flex-row-reverse .card-product-infos {
  margin-left: 80px;
}

.timeline-card-product.flex-row-reverse img {
  margin-left: -5px;
}

.timeline-card-product:not(.flex-row-reverse) img {
  margin-right: -5px;
  margin-left: -5px;
}

.timeline.no-memories::before {
  display: none;
}

.timeline-card-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.timeline-card-product .d-flex {
  justify-content: flex-start; /* align the buttons to the left */
}

.timeline-card-product.flex-row-reverse .d-flex {
  justify-content: flex-end; /* align the buttons to the right when the card is reversed */
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.icon-button-timeline {
  background: none;
  border: none;
  padding: 0;
  font-size: 15px;
  color: grey;

  &:hover {
    color: black;
  }

  i {
    color: inherit;
  }
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 25px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {

					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}

}
