<div class="container mt-4">
  <div class="p-2">
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-file-lines fa-2x me-2 pb-3"></i>
      <h2>Mission Board</h2>
    </div>
  </div>

  <button class="btn btn-primary rounded-circle position-absolute bottom-0 end-0 m-3" style="width: 60px; height: 60px;">
    <i class="fas fa-plus"></i>
  </button>
</div>
