<div class="container mt-4 d-flex flex-column">
  <div class="px-3 pt-2 pb-2">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column align-items-start">
        <h2 style="font-family: Berkshire Swash, serif; font-size: 35px;">Mission Board</h2>
        <h5 style="font-family: Vidaloka, serif; font-size: 16px; margin-left: 0px; padding: 0px">Your personalized couple's To-Do List</h5>
      </div>
      <%= link_to new_mission_path do %>
        <img src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1710244537/sign_lighter_igvbsa.png" alt="add_mission" class="mission_plus">
      <% end %>
    </div>
  </div>
  <div class="mb-auto mt-1 py-2" style="overflow-y:auto;height: 686px;background-color: rgba(245, 245, 245, 0.5);border-radius: 10px;">
  <% unless @missions.nil? || @missions.empty? %>

    <% @missions.each do |mission| %>
      <div class="mb-3">
        <%= render 'mission_show', mission: mission %>
      </div>
    <% end %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <h4 class="text-center text-secondary">No missions yet.😭<br>Create one now!</h4>
      </div>
    <% end %>
  </div>
</div>
