<div class="container mt-4 d-flex flex-column">
  <div class="px-3 pt-2 pb-2">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <h2 style="font-family: Berkshire Swash, serif; font-size: 35px;">Mission Board</h2>
      </div>
      <%= link_to new_mission_path do %>
        <img src="https://res.cloudinary.com/dvgcwuo68/image/upload/v1710244537/sign_lighter_igvbsa.png" alt="add_mission" class="mission_plus">
      <% end %>
    </div>
  </div>

  <div class="mb-auto" style="overflow-y:auto; height:705px;">
    <% @missions.each do |mission| %>
      <div class="mb-3">
        <%= render 'mission_show', mission: mission %>
      </div>
    <% end %>
  </div>
</div>
